.table {
    width: 100%;
    background-color: whitesmoke;
}

.row:nth-child(even) {
    background-color: bisque;
}

.status {
    color: whitesmoke;
    text-align: center;
}

.status--ok {
    background-color: darkgreen;
}

.status--error {
    background-color: darkred;
}